################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################
# Business Intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings

# Microsoft Fakes
FakesAssemblies/

# Node.js Tools for Visual Studio
.ntvs_analysis.dat

# Visual Studio 6 build log
*.plg

# Visual Studio 6 workspace options file
*.opt

# Visual Studio LightSwitch build output
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_Pvt_Extensions
*.dll
*.pdb
*.txt
/Miraclesoft.Common.Utility/.vs
/Miraclesoft.Common.Utility/Miraclesoft.Common.Test/bin
/Miraclesoft.Common.Utility/Miraclesoft.Common.Test/obj
/Miraclesoft.Common.Utility/Miraclesoft.Common.Utility/bin
/Miraclesoft.Common.Utility/Miraclesoft.Common.Utility/obj
/.vs
/.vscode
/**/**/bin
/**/**/obj